<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Details</title>
</head>
<body>
    <h1>Customer details</h1>
    <div class="container">
        <div class="customer-detail">
           <h3><strong>Name: </strong>{{customer.First_name}} {{customer.Last_name}}</h3> 
           <p><strong>Phone: </strong> {{customer.Phone_number}}</p>
           <p><strong>Email: </strong> {{customer.Email}}</p>
           <p><strong>Address: </strong> {{customer.Address}}</p>

        </div>
    </div>
    
</body>
</html>