
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet"  href="{% static 'ecommerce/style.css %'}">
</head>
<body>
    <h1>Welcome to Our E-commerce Site</h1>
    <nav>
        <ul>
            <li><a href="{% url 'ecommerce:product_list' %}">Product List</a></li>
            <li><a href="{% url 'ecommerce:customer_list' %}">Customer List</a></li>
        </ul>
    </nav>
</body>
</html>

